@use '../../../scss/base/variables' as v;
@use '../../../scss/base/mixins' as m;

.confirmation {
    background-color: v.$new-riders-of-the-purple-sage-tint-600;
    position: relative;
    overflow: visible;

    &__container {
        position: relative;
        z-index: 2;
        max-width: 60rem;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__marco-wrapper {
        position: relative;
        width: 100%;
        max-width: 48rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mariposa-img {
        position: absolute;
        top: 0;
        right: 5%;
        width: 9rem;
        height: auto;
        opacity: .9;
    }

    &__sol-img {
        position: absolute;
        top: 0;
        left: 3%;
        width: 9rem;
        height: auto;
        opacity: .9;
    }

    &__nube-img {
        position: absolute;
        bottom: -5%;
        right: 3%;
        width: 12rem;
        opacity: .9;
    }

    &__marco-img {
        width: 100%;
        height: auto;
        display: block;
    }

    &__card-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 64%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        padding: 2rem;
        color: v.$purple-corallite-shade-600;

        @media (max-width: 480px) {
            width: 72%;
            gap: 0.5rem;
            padding: 1rem;
        }
    }

    &__title {
        font-family: v.$font-heading;
        font-size: 2.8rem;
        font-weight: 700;
        color: v.$purple-corallite-base;
        margin: 0;
        line-height: 1.2;

        @media (max-width: 480px) {
            font-size: 2.1rem;
        }
    }

    &__subtitle {
        font-family: v.$font-body;
        font-size: 1.4rem;
        font-weight: 700;
        color: v.$purple-corallite-tint-200;
        margin: 0;
        line-height: 1.3;

        @media (max-width: 480px) {
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }
    }

    &__text {
        font-family: v.$font-body;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        color: v.$purple-corallite-shade-400;
        margin: 0;
        line-height: 1.4;

        @media (max-width: 480px) {
            font-size: 1.0rem;
        }
    }

    &__header {
        position: relative;
        z-index: 2;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }

    &__header-title {
        color: white;
        font-family: v.$font-body;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__header-text {
        color: white;
        font-family: v.$font-body;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__actions {
        width: 80%;
        margin-top: 0.8rem;

        @media (max-width: 480px) {
            width: 100%;
            margin-top: 0.2rem;
        }
    }

    &__waves {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        pointer-events: none;
        display: block;

        &--top {
            top: 0;
            transform: translateY(-99%);
        }

        &--bottom {
            bottom: 0;
            transform: translateY(99%);
        }
    }
}

/* Animaciones de Onda Superior */
.path-top-0 {
    animation: pathAnim-top-0 12s linear infinite;
}

.path-top-1 {
    animation: pathAnim-top-1 12s linear infinite;
}

@keyframes pathAnim-top-0 {

    0%,
    100% {
        d: path("M 0,600 L 0,150 C 106.99521531100481,138.1531100478469 213.99043062200963,126.30622009569379 314,113 C 414.0095693779904,99.69377990430621 507.0334928229664,84.92822966507177 604,109 C 700.9665071770336,133.07177033492823 801.8755980861245,195.98086124401914 887,204 C 972.1244019138755,212.01913875598086 1041.4641148325359,165.14832535885168 1131,147 C 1220.5358851674641,128.85167464114832 1330.267942583732,139.42583732057415 1440,150 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,150 C 122.23923444976077,155.2918660287081 244.47846889952154,160.58373205741626 330,154 C 415.52153110047846,147.41626794258374 464.32535885167465,128.9569377990431 561,110 C 657.6746411483253,91.04306220095692 802.2200956937799,71.58851674641147 896,75 C 989.7799043062201,78.41148325358853 1032.7942583732058,104.68899521531102 1115,121 C 1197.2057416267942,137.31100478468898 1318.6028708133972,143.6555023923445 1440,150 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,150 C 92.6794258373206,176.9665071770335 185.3588516746412,203.93301435406698 287,179 C 388.6411483253588,154.06698564593302 499.244019138756,77.23444976076557 580,82 C 660.755980861244,86.76555023923443 711.665071770335,173.1291866028708 810,183 C 908.334928229665,192.8708133971292 1054.0956937799042,126.24880382775119 1167,108 C 1279.9043062200958,89.75119617224881 1359.952153110048,119.8755980861244 1440,150 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,150 C 104.41148325358853,166.4306220095694 208.82296650717706,182.86124401913875 299,182 C 389.17703349282294,181.13875598086125 465.11961722488036,162.98564593301435 543,135 C 620.8803827751196,107.01435406698565 700.6985645933014,69.19617224880382 812,93 C 923.3014354066986,116.80382775119618 1066.0861244019138,202.22966507177034 1176,222 C 1285.9138755980862,241.77033492822966 1362.956937799043,195.88516746411483 1440,150 L 1440,600 L 0,600 Z");
    }
}

@keyframes pathAnim-top-1 {

    0%,
    100% {
        d: path("M 0,600 L 0,350 C 126.46889952153111,305.7799043062201 252.93779904306223,261.5598086124402 334,282 C 415.0622009569378,302.4401913875598 450.71770334928226,387.5406698564593 538,400 C 625.2822966507177,412.4593301435407 764.1913875598087,352.2775119617225 886,327 C 1007.8086124401913,301.7224880382775 1112.5167464114832,311.3492822966507 1202,321 C 1291.4832535885168,330.6507177033493 1365.7416267942585,340.32535885167465 1440,350 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,350 C 115.67464114832538,361.17703349282294 231.34928229665076,372.35406698564594 321,354 C 410.65071770334924,335.64593301435406 474.27751196172244,287.7607655502393 556,298 C 637.7224880382776,308.2392344497607 737.5406698564594,376.60287081339703 854,374 C 970.4593301435406,371.39712918660297 1103.5598086124403,297.82775119617224 1204,282 C 1304.4401913875597,266.17224880382776 1372.22009569378,308.0861244019139 1440,350 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,350 C 100.05741626794256,379.5980861244019 200.1148325358851,409.19617224880386 295,389 C 389.8851674641149,368.80382775119614 479.5980861244019,298.8133971291866 584,300 C 688.4019138755981,301.1866028708134 807.4928229665071,373.55023923444975 899,378 C 990.5071770334929,382.44976076555025 1054.4306220095693,318.9856459330144 1140,303 C 1225.5693779904307,287.0143540669856 1332.7846889952152,318.5071770334928 1440,350 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,350 C 68.97607655502392,320.7368421052631 137.95215311004785,291.4736842105263 242,299 C 346.04784688995215,306.5263157894737 485.16746411483246,350.84210526315786 591,347 C 696.8325358851675,343.15789473684214 769.377990430622,291.1578947368421 856,303 C 942.622009569378,314.8421052631579 1043.3205741626793,390.5263157894737 1143,409 C 1242.6794258373207,427.4736842105263 1341.3397129186603,388.7368421052631 1440,350 L 1440,600 L 0,600 Z");
    }
}

/* Animaciones de Onda Inferior */
.path-bottom-0 {
    animation: pathAnim-bottom-0 12s linear infinite;
}

.path-bottom-1 {
    animation: pathAnim-bottom-1 12s linear infinite;
}

@keyframes pathAnim-bottom-0 {

    0%,
    100% {
        d: path("M 0,600 L 0,150 C 77.34928229665073,118.64114832535886 154.69856459330146,87.28229665071771 266,78 C 377.30143540669854,68.71770334928229 522.555023923445,81.51196172248802 622,107 C 721.444976076555,132.48803827751198 775.0813397129189,170.66985645933016 860,183 C 944.9186602870811,195.33014354066984 1061.1196172248804,181.8086124401914 1163,172 C 1264.8803827751196,162.1913875598086 1352.44019138756,156.0956937799043 1440,150 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,150 C 122.08612440191388,116.47846889952153 244.17224880382776,82.95693779904306 338,92 C 431.82775119617224,101.04306220095694 497.3971291866029,152.65071770334927 572,183 C 646.6028708133971,213.34928229665073 730.2392344497608,222.4401913875598 825,196 C 919.7607655502392,169.5598086124402 1025.6459330143541,107.58851674641149 1130,94 C 1234.3540669856459,80.41148325358851 1337.1770334928228,115.20574162679426 1440,150 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,150 C 102.99521531100476,183.60765550239233 205.9904306220095,217.2153110047847 300,197 C 394.0095693779905,176.7846889952153 479.03349282296665,102.74641148325358 568,78 C 656.9665071770333,53.25358851674641 749.8755980861242,77.79904306220095 837,94 C 924.1244019138758,110.20095693779905 1005.4641148325361,118.05741626794259 1105,126 C 1204.535885167464,133.94258373205741 1322.2679425837318,141.9712918660287 1440,150 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,150 C 112.00956937799043,131.64593301435406 224.01913875598086,113.29186602870813 321,111 C 417.98086124401914,108.70813397129187 499.93301435406704,122.47846889952154 576,131 C 652.066985645933,139.52153110047846 722.2488038277511,142.79425837320576 820,131 C 917.7511961722489,119.20574162679425 1043.0717703349283,92.3444976076555 1151,93 C 1258.9282296650717,93.6555023923445 1349.4641148325359,121.82775119617224 1440,150 L 1440,600 L 0,600 Z");
    }
}

@keyframes pathAnim-bottom-1 {

    0%,
    100% {
        d: path("M 0,600 L 0,350 C 112.91866028708137,386.5933014354067 225.83732057416273,423.1866028708134 334,407 C 442.16267942583727,390.8133971291866 545.5693779904306,321.8468899521531 622,302 C 698.4306220095694,282.1531100478469 747.8851674641148,311.42583732057415 823,318 C 898.1148325358852,324.57416267942585 998.88995215311,308.44976076555025 1106,310 C 1213.11004784689,311.55023923444975 1326.5550239234449,330.77511961722485 1440,350 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,350 C 103.41626794258374,319.42583732057415 206.8325358851675,288.85167464114835 298,276 C 389.1674641148325,263.14832535885165 468.08612440191393,268.01913875598086 557,291 C 645.9138755980861,313.98086124401914 744.822966507177,355.07177033492826 849,380 C 953.177033492823,404.92822966507174 1062.622009569378,413.69377990430627 1162,406 C 1261.377990430622,398.30622009569373 1350.688995215311,374.1531100478469 1440,350 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,350 C 81.07177033492826,311.99043062200957 162.14354066985652,273.98086124401914 254,287 C 345.8564593301435,300.01913875598086 448.4976076555023,364.066985645933 554,385 C 659.5023923444977,405.933014354067 767.8660287081341,383.7511961722488 857,374 C 946.1339712918659,364.2488038277512 1016.0382775119617,366.9282296650718 1110,365 C 1203.9617224880383,363.0717703349282 1321.9808612440193,356.53588516746413 1440,350 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,350 C 93.92344497607655,326.4976076555024 187.8468899521531,302.99521531100476 271,294 C 354.1531100478469,285.00478468899524 426.535885167464,290.5167464114833 538,297 C 649.464114832536,303.4832535885167 800.0095693779906,310.9377990430622 916,318 C 1031.9904306220094,325.0622009569378 1113.4258373205741,331.732057416268 1195,337 C 1276.5741626794259,342.267942583732 1358.287081339713,346.13397129186603 1440,350 L 1440,600 L 0,600 Z");
    }
}