@use '@/scss/base/variables' as v;

@mixin badge-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: v.$purple-corallite-tint-400;
    padding: 1.1rem 6.5rem 1.3rem;
    margin: 0 auto;
    width: fit-content;
    clip-path: polygon(0% 0%, 100% 0%, 93% 50%, 100% 100%, 0% 100%, 7% 50%);
    transform: rotate(-1.5deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    &-first {
        font-family: v.$font-heading;
        font-size: 2.4rem;
        font-weight: 700;
        color: v.$butter-yellow-base;
        letter-spacing: 2px;
        line-height: 1;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }

    &-second {
        font-family: v.$font-heading;
        font-size: 3.2rem;
        font-weight: 700;
        color: v.$butter-yellow-base;
        letter-spacing: 1px;
        line-height: 1;
        margin-top: -0.4rem;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
    }
}