// Mist Yellow
$mist-yellow-base: #faf0d8;
$mist-yellow-shade-200: #c8c0ad;
$mist-yellow-shade-400: #969082;
$mist-yellow-shade-600: #646056;
$mist-yellow-shade-800: #32302b;
$mist-yellow-tint-200: #fbf3e0;
$mist-yellow-tint-400: #fcf6e8;
$mist-yellow-tint-600: #fdf9ef;
$mist-yellow-tint-800: #fefcf7;

// Purple Corallite
$purple-corallite-base: #634e93;
$purple-corallite-shade-200: #4f3e76;
$purple-corallite-shade-400: #3b2f58;
$purple-corallite-shade-600: #281f3b;
$purple-corallite-shade-800: #14101d;
$purple-corallite-tint-200: #8271a9;
$purple-corallite-tint-400: #a195be;
$purple-corallite-tint-600: #c1b8d4;
$purple-corallite-tint-800: #e0dce9;

// Lavender Sky
$lavender-sky-base: #e1d9f3;
$lavender-sky-shade-200: #b4aec2;
$lavender-sky-shade-400: #878292;
$lavender-sky-shade-600: #5a5761;
$lavender-sky-shade-800: #2d2b31;
$lavender-sky-tint-200: #e7e1f5;
$lavender-sky-tint-400: #ede8f8;
$lavender-sky-tint-600: #f3f0fa;
$lavender-sky-tint-800: #f9f7fd;

// New Riders of the Purple Sage
$new-riders-of-the-purple-sage-base: #5e1164;
$new-riders-of-the-purple-sage-shade-200: #4b0e50;
$new-riders-of-the-purple-sage-shade-400: #380a3c;
$new-riders-of-the-purple-sage-shade-600: #260728;
$new-riders-of-the-purple-sage-shade-800: #130314;
$new-riders-of-the-purple-sage-tint-200: #7e4183;
$new-riders-of-the-purple-sage-tint-400: #9e70a2;
$new-riders-of-the-purple-sage-tint-600: #bfa0c1;
$new-riders-of-the-purple-sage-tint-800: #dfcfe0;

// Pink Frosting
$pink-frosting-base: #f6d3dd;
$pink-frosting-shade-200: #c5a9b1;
$pink-frosting-shade-400: #947f85;
$pink-frosting-shade-600: #625458;
$pink-frosting-shade-800: #312a2c;
$pink-frosting-tint-200: #f8dce4;
$pink-frosting-tint-400: #fae5eb;
$pink-frosting-tint-600: #fbedf1;
$pink-frosting-tint-800: #fdf6f8;

// Light Capri Green
$light-capri-green-base: #89cfbf;
$light-capri-green-shade-200: #6ea699;
$light-capri-green-shade-400: #527c73;
$light-capri-green-shade-600: #37534c;
$light-capri-green-shade-800: #1b2926;
$light-capri-green-tint-200: #a1d9cc;
$light-capri-green-tint-400: #b8e2d9;
$light-capri-green-tint-600: #d0ece5;
$light-capri-green-tint-800: #e7f5f2;

// Butter Yellow
$butter-yellow-base: #fef76c;
$butter-yellow-shade-200: #cbc656;
$butter-yellow-shade-400: #989441;
$butter-yellow-shade-600: #66632b;
$butter-yellow-shade-800: #333116;
$butter-yellow-tint-200: #fef989;
$butter-yellow-tint-400: #fefaa7;
$butter-yellow-tint-600: #fffcc4;
$butter-yellow-tint-800: #fffde2;

// Fonts
$font-cursive: 'Great Vibes', cursive;
$font-heading: 'Fredoka', sans-serif;
$font-body: 'Quicksand', sans-serif;